 <!-- Footer -->

 
 <footer>
  <div class="footer-container">
    <p>&copy; 2024 Lista de Superhéroes</p>
    <p>
      <a href="https://github.com/vilmaponce" target="_blank" id="contacto">
        <i class="fa-solid fa-user"></i> Contacto
      </a> 
      <br>
    </p>
    <div id="info" class="footer-info">
      <p>Autora: <strong>Vilma Ponce</strong></p>
    </div>
  </div>
</footer>
