<footer>
  <div class="footer-container">
    <p>&copy; 2024 Lista de Paises</p>
    <p>
      <a href="https://github.com/vilmaponce" target="_blank" id="contacto">
        <i class="fa-solid fa-user"></i> Contacto
      </a>
    </p>
    <div id="info" class="footer-info">
      <p>Autora: <strong>Vilma Ponce</strong></p>
    </div>
    <div class="social-icons">
      <a href="https://github.com/vilmaponce" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/vilmaponce" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:vilma@example.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</footer>

