<header>
    <nav>
        <a href="/api/countries">Lista de Paises</a>
        <a href="/add-country">Añadir Pais</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>


<!-- Home Section con Fondo -->
<section class="home-background">
    <h1 class="bienvenidos">Bienvenidos a la Pagina de Paises</h1>
</section>