<header>
    <nav>
        <a href="/superheroes">Lista de Superhéroes</a>
        <a href="/add-hero">Añadir Superhéroe</a>
        <a href="/superheroes/editar/6720dd7294250f46630a6d5b">Editar Superhéroe</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>


<!-- Home Section con Fondo -->
<section class="home-background">
    <h1>Bienvenidos a la Página de Superhéroes</h1>
</section>